#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    address: "127.0.0.1:6600",
    password: None,
    theme: Some("nekusoul"),
    cache_dir: None,
    on_song_change: None,
    volume_step: 5,
    max_fps: 30,
    scrolloff: 5,
    wrap_navigation: false,
    enable_mouse: true,
    enable_config_hot_reload: true,
    status_update_interval_ms: 1000,
    rewind_to_start_sec: None,
    reflect_changes_to_playlist: false,
    select_current_song_on_change: false,
    browser_song_sort: [Disc, Track, Artist, Title],
    directories_sort: SortFormat(group_by_type: true, reverse: false),
    album_art: (
        method: Auto,
        max_size_px: (width: 1200, height: 1200),
        disabled_protocols: ["http://", "https://"],
        vertical_align: Center,
        horizontal_align: Center,
    ),
    keybinds: (
        global: {
            ":":        CommandMode,
            "C-<Down>": VolumeDown,
            "s":        Stop,
            "C-<Up>":   VolumeUp,
            "<Tab>":    NextTab,
            "<S-Tab>":  PreviousTab,
            "1":        SwitchToTab("Queue"),
            "2":        SwitchToTab("Artists"),
            "3":        SwitchToTab("Albums"),
            "4":        SwitchToTab("Playlists"),
            "5":        SwitchToTab("Search"),
            "q":        Quit,
            "C-Right>": NextTrack,
            "p":        TogglePause,
            "C-Left>":  PreviousTrack,
            "f":        SeekForward,
            "z":        ToggleRepeat,
            "x":        ToggleRandom,
            "c":        ToggleConsume,
            "v":        ToggleSingle,
            "b":        SeekBack,
            "?":        ShowHelp,
            "I":        ShowCurrentSongInfo,
        },
        navigation: {
            "<Up>":      Up,
            "<Down>":    Down,
            "<Left>":    Left,
            "<Right>":   Right,
            "u":         UpHalf,
            "d":         DownHalf,
            "N":         PreviousResult,
            "a":         Add,
            "A":         AddAll,
            "r":         Rename,
            "n":         NextResult,
            "U":         Top,
            "<Space>":   Select,
            "<C-Space>": InvertSelection,
            "D":         Bottom,
            "<CR>":      Confirm,
            "o":         AddReplace,
            "O":         AddAllReplace,
            "/":         EnterSearch,
            "<C-c>":     Close,
            "<Esc>":     Close,
            "<Del>":     Delete,
            "B":         ShowInfo,
        },
        queue: {
            "D":       DeleteAll,
            "<CR>":    Play,
            "<C-s>":   Save,
            "a":       AddToPlaylist,
            "<Del>":   Delete,
            "C":       JumpToCurrent,
            "X":       Shuffle,
        },
    ),
    search: (
        case_sensitive: false,
        mode: Contains,
        tags: [
            (value: "artist",      label: "Artist"),
            (value: "album",       label: "Album"),
            (value: "title",       label: "Title"),
            (value: "genre",       label: "Genre"),
        ],
    ),
    artists: (
        album_display_mode: NameOnly,
        album_sort_by: Date,
    ),
    tabs: [
        (
            name: "Queue",
            pane:  Pane(Queue),
        ),
        (
            name: "Artists",
            pane: Pane(AlbumArtists),
        ),
        (
            name: "Albums",
            pane: Pane(Albums),
        ),
        (
            name: "Playlists",
            pane: Pane(Playlists),
        ),
        (
            name: "Search",
            pane: Pane(Search),
        ),
    ],
    cava: (
        framerate: 60, // default 60
        autosens: true, // default true
        sensitivity: 100, // default 100
        lower_cutoff_freq: 50, // not passed to cava if not provided
        higher_cutoff_freq: 10000, // not passed to cava if not provided
        input: (
            method: Fifo,
            source: "/tmp/mpd.fifo",
            sample_rate: 44100,
            channels: 2,
            sample_bits: 16,
        ),
        smoothing: (
            noise_reduction: 33, // default 77
            monstercat: false, // default false
            waves: false, // default false
        ),
        // this is a list of floating point numbers thats directly passed to cava
        // they are passed in order that they are defined
        eq: []
    ),
)
